{% extends 'base.html' %}

{% block nav_middle %}
    <div class="col-md-2">
        <a class="btn btn-raised btn-primary" href="{% url 'create' %}">Create transaction</a>
    </div>
{% endblock %}

{% block main %}
    <ul class="list-unstyled col-md-12">
    {% for transaction in object_list %}
        <li class="well col-md-12">
            <h5 class="">
                {{transaction.doc.name}} "{{transaction.doc.title}}"

                {% if transaction.doc.file %}
                <a href="{{transaction.doc.file.url}}" class="glyphicon glyphicon-file">File</a>
                {% else %}
                <a href="#" ><i class=" glyphicon glyphicon-file"></i></a>
                {% endif %}

                <em class="pull-right">Signed on {{transaction.doc.sign_date}}</em>
            </h5>
                {% if transaction.creator == request.user.organization %}
            <p class="text-primary">
                You've created this transaction
                {% else %}
            <p class="text-info">
                Creator: {{ transaction.creator }}
                {% endif %}
            </p>


            <div class="col-md-2">
                <h5 class="text-success">
                    <i class="glyphicon glyphicon-ok"></i> 3
                </h5>
            </div>
            <div class="col-md-2">
                <h5 class="text-danger">
                    <i class="glyphicon glyphicon-remove"></i> 2
                </h5>
            </div>
            <div class="col-md-2">
                <h5 class="text-info">
                    <i class="glyphicon glyphicon-time"></i> 5
                </h5>
            </div>
            <form class="form pull-right" method="post" action="{% url 'approve' %}">
                {% csrf_token %}
                <input type="hidden" name="transaction" value="{{transaction.pk}}">
                <button class="btn btn-success" name="{{ApprovementChoice.ACCEPT}}">Accept</button>
                <button class="btn btn-danger" name="{{ApprovementChoice.DECLINE}}">Decline</button>
            </form>
            {% if transaction.creator != request.user.organization %}
            <form class="form" method="post" action="{% url 'approve' %}">
                {% csrf_token %}
                <input type="hidden" name="transaction" value="{{transaction.pk}}">
                <button name="{{ApprovementChoice.ACCEPT}}">Accept</button>
                <button name="{{ApprovementChoice.DECLINE}}">Decline</button>
            </form>
            {% endif %}
            <ul class="hidden">
            {% for org in transaction.orgs.all %}
                <li>{{org.data_obj.INN}}, "{{org}}"</li>
            {% endfor %}
            </ul>
            <ul class="hidden">
            {% for a in transaction.approvements.all %}
                <li><a href="{% url 'profile' pk=a.pk %}">{{ a.organization }}</a>, on {{ a.date }}, Status: {{ a.get_action_display }}</li>
            {% empty %}
                no
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}