{% extends 'base.html' %}

{% block content %}

<ul>
{% if p.user == user %}
    <li>{{ p.user.email }}</li>
{% endif %}

<li>{{ p.name }}</li>
<li>{{ p.country.name }}<img src="{{ p.country.flag }}"></li>
<li>{{ p.data_obj.INN }}</li>
</ul>
{% endblock %}