{% extends 'base.html' %}

{% block content %}

<form class="form" action="" method="post">{% csrf_token %}
    {{ form|as_bootstrap }}
    {{ doc_form|as_bootstrap_inline }}
    <div class="pull-right col-md-3">
        <input class="col-md-12 btn btn-raised btn-primary" type="submit" value="Save" />
    </div>
</form>


{% endblock %}

{% block more_head %}
    <link href="{% static 'bootstrap/file_input/css/fileinput.min.css' %}" media="all" rel="stylesheet" type="text/css" />
    <link href="{% static 'bootstrap/datetimepicker.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
{% endblock %}
{% block more_scripts %}
    <script src="{% static 'bootstrap/file_input/js/fileinput.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'bootstrap/bootstrap-datetimepicker.js' %}"></script>
    <script>
        $('input[type=file]').fileinput({
            showPreview: false,

            browseClass: "btn btn-success",
            browseLabel: "Load document",
            browseIcon: "<i class=\"glyphicon glyphicon-open-file\"></i> ",

            removeClass: "btn btn-danger",
            removeLabel: "",
            removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",

            layoutTemplates: {
                main1:
                "<div class=\'input-group {class}\'>\n" +
                '   <div class="input-group-btn" style="padding:0px">\n' +
                "       {browse}\n" +
                "       {remove}\n" +
                "   </div>\n" +
                "   {caption}\n" +
                "</div>"
            }
        });
        $("#id_sign_date").datetimepicker({
            minView: 2,
            autoclose: true,
            language: 'en',
            startView: 2,
            format: 'yyyy-mm-dd'});
        $(".form-group").addClass('col-md-12');
        $('input[type=file]').closest('.form-group').addClass('row');
        $("#id_sign_date").closest('.form-group').removeClass('col-md-12').addClass('col-md-4');
        $("#id_name").closest('.form-group').removeClass('col-md-12').addClass('col-md-6');
        $("#id_nomenclature").closest('.form-group').removeClass('col-md-12').addClass('col-md-6');
        $("#id_title").attr('rows', 3);
       </script>
{% endblock %}