<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Contract verification system{% endblock %}</title>

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/g/bootstrap.material-design@0.5.10
(css/bootstrap-material-design.min.css+css/ripples.min.css)">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="https://developer.car.ma/mobilesite/bootstrap-3.0.0/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{% static 'css/base.css' %}"

    {% block more_head %}{% endblock %}
</head>
<body>

    <div class="container">
        <div class="header clearfix row" style="margin-left:-15px">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation">
                    </li>
                    <li role="presentation"><a href="#">About</a></li>
                    <li role="presentation"><a href="#">Contact</a></li>
                {% if user.is_authenticated %}
                    <li role="presentation"><a href="{% url 'logout' %}">Log out</a></li>
                    {% if not user.organization %}
                        Warning! No organization for current user.
                    {% endif %}
                {% else %}
                    <li role="presentation"><a href="{% url 'login' %}">Log in</a></li>
                    <li role="presentation"><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
                </ul>
            </nav>

            <h3 class="text-muted col-md-3">
                <a href="{% url 'main' %}" class="">
                    SmartContracts
                </a>
            </h3>
            {% block nav_middle %}{% endblock %}
        </div>

    {% block main %}
    <div class="jumbotron col-md-12">
        {% block content %}{% endblock %}
    </div>
    {% endblock %}

    </div>
    <!-- Placed at the end of the document so the pages load faster
    ================================================== -->
    <!-- Bootstrap/JQuery core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://cdn.jsdelivr.net/g/bootstrap.material-design@0.5.10
(js/material.min.js+js/ripples.min.js)"></script>

    <script type="text\javascript" src="{% static 'js/main.js' %}"></script>

    {% block more_scripts %}{% endblock %}
</body>
</html>