{% extends 'base.html' %}
{% block content %}

<form class="form col-md-6 col-md-offset-3" method="post">
    <fieldset>
        {% csrf_token %}
        {{ form|as_bootstrap_inline }}
        <button class="btn btn-primary">Log in</button>
    </fieldset>
</form>

{% endblock %}